#menu1 { padding:0px; }
#menu1 div { padding:5px 7px 5px 7px; cursor:pointer; font-weight:bold;}

#menu2 { padding:0px; }
#menu2 div { padding:5px 7px 5px 7px; cursor:pointer; font-weight:bold;}

#menu3 { padding:0px; }
#menu3 div { padding:5px 7px 5px 7px; cursor:pointer; font-weight:bold;}

#menu4 { padding:0px; }
#menu4 div { padding:5px 7px 5px 7px; cursor:pointer; font-weight:bold;}

#menu5 { padding:0px; }
#menu5 div { padding:5px 7px 5px 7px; cursor:pointer; font-weight:bold;}

.menu_title { background:#48647e; color:White;  font-size:12px;}
.menu_title:hover { background:#93b2ce; color:#000000; }

.sub_menu_holder { padding:5px 5px 5px 10px; display:none; background:#7391ad; }
.sub_menu a:hover { color:#ffffff; }
.sub_menu { padding:4px 4px 4px 0px; color:black; margin-left:5px; font-size:12px; font-weight:bold; }
.sub_menu a { text-decoration:none; color:Black }

.menu_bar{width:250px;}
.menu_bar > div{margin-top:7px;background:#7391ad; padding:3px;}

.menu_content{padding:7px;background:white;}
.menu_holder{width:100%;background:white;}

.menu { padding:0px; }
.menu .menu_title { padding:5px 7px 5px 7px; cursor:pointer; font-weight:bold;}
.menu_1 { padding:0px; }
.menu_1 .menu_title_1 { padding:5px 7px 5px 7px; cursor:pointer; font-weight:bold;}
.menu_title_1 { background:#48647e; color:White;  font-size:12px;}
.menu_title_1:hover { background:#93b2ce; color:#000000; }

.sub_menu_holder_1 { display:none; background:#7391ad; border:1px solid #48647e; padding:5px 5px 5px 10px;}
.sub_menu_1 a:hover { color:#ffffff; }
.sub_menu_1 { padding:4px 4px 4px 4px; color:black; margin-left:13px; font-size:11px; font-weight:bold; }
.sub_menu_1 a { text-decoration:none; color:black }

.menu_2 { padding:0px; }
.menu_1 .menu_title_2 { padding:5px 7px 5px 7px; cursor:pointer; font-weight:bold;}
.menu_title_2 { background:#48647e; color:White;  font-size:12px;}
.menu_title_2 a { text-decoration:none; color:White; }
.menu_title_2:hover { background:#93b2ce; color:#000000; }

/*march 3 2014

.sub_menu_holder_2 { display:none; background:#7391ad; border:1px solid #48647e; padding:5px 5px 5px 10px;}
.sub_menu_2 a:hover { color:#ffffff; }
.sub_menu_2 { padding:4px 4px 4px 4px; color:black; margin-left:13px; font-size:11px; font-weight:bold; }
.sub_menu_2 a { text-decoration:none; color:black }

end*/