input[disabled=disabled]
{
    background:#ededed;
}

.required_fields { background-color:#fff7dd; border:1px solid #4e4e4e; }
/* .required_fields { background-color:#ffcaca; border:1px solid #ee2d1e; } */
.readonly_fields { background-color:#cfcfcf; }